{% extends "stats/index.html" %} {% block content %}
<div>
  <form id="free_throw_form" action="{% url 'free_throw_save' %}" method="post">
    {% csrf_token %} {%for stat in ft %}
    <div class="player_box">
      <p>{{stat.player}}</p>
      <input
        class="hidden"
        type="number"
        name="{{stat.player}}makes"
        id="{{stat.player}}makes"
        value="{{stat.makes}}"
      />
      <div class="lbl_box">
        <label for="{{stat.player}}makes" id="{{stat.player}}makeslbl"
          >{{stat.makes}}</label
        >
        <input
          class="hidden"
          type="number"
          name="{{stat.player}}attempts"
          id="{{stat.player}}attempts"
          value="{{stat.attempts}}"
        />
        <label for="{{stat.player}}attempts" id="{{stat.player}}attemptslbl"
          >{{stat.attempts}}</label
        >
    </div>
      <div class="btn_box">
        <button
          type="button"
          onClick="update_makes('{{stat.player}}makes','{{stat.player}}attempts','1')"
          class="btn_make"
        >
          &#10003
        </button>
        <button
          type="button"
          onClick="update_misses('{{stat.player}}attempts','1')"
          class="btn_miss"
        >
          &#10008
        </button>
      </div>
      <div class="btn_box">
        <button
          type="button"
          onClick="update_makes('{{stat.player}}makes','{{stat.player}}attempts',-1)"
          class="btn_remove"
          >
          -
        </button>
        <button
          type="button"
          onClick="update_misses('{{stat.player}}attempts','-1')"
          class="btn_remove"
          >
          -
        </button>
      </div>
    </div>
    <!--Add function to increase only the attempts not the makes-->
    {% endfor %}
    <button type="submit" class="submit">&#128190</button>
  </form>

  <script>
    function update_makes(id, id2,val) {
      //update the makes by 1
      make_elem = document.getElementById(id);
      console.log(val)
      make_elem.value = parseInt(make_elem.value) + parseInt(val);
      make_lbl = document.getElementById(id + "lbl");
      make_lbl.innerText = parseInt(make_elem.value);

      //update attempts by 1
      attempt_elem = document.getElementById(id2);
      attempt_elem.value = parseInt(attempt_elem.value) + parseInt(val);
      attempt_lbl = document.getElementById(id2 + "lbl");
      attempt_lbl.innerText = parseInt(attempt_elem.value);
    }

    function update_misses(id,val) {
      attempt_elem = document.getElementById(id);
      attempt_elem.value = parseInt(attempt_elem.value) + parseInt(val);
      attempt_lbl = document.getElementById(id + "lbl");
      attempt_lbl.innerText = attempt_elem.value;
    }
  </script>
</div>
{% endblock %}
