html {
  background-color: #dd7973;
  height: 100%;
  position: relative;
}

.main_content {
  margin: auto;
  width: 95%;
  border: 2px solid goldenrod;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.911);
  height: 100%;
}

.navigation {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.link_box {
  background-color: antiquewhite;
  height: 45px;
  width: 32.5%;
  align-content: center;
  text-align: center;
}

a:link {
  text-decoration: none !important;
  color: black;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: goldenrod;
}
a:visited {
  text-decoration: none;
  color: black;
}
