.player_box {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
button {
  color: white;
  text-align: center;
  font-size: medium;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.lbl_box label {
  width: 50px;
}

.lbl_box {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.btn_make {
  background-color: green;
}

.btn_miss {
  background-color: red;
}

.btn_remove {
  background-color: orange;
}

.submit {
  background-color: goldenrod;
}
